.contact {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
      background-color: #4a4564;
    align-items: center;
    color: #f1f1f1;
  }
  
  .contact h2 {
    color: #f1f1f1;
    font-weight: 400;
    font-size: 2.5em;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 55%;
    align-items: center;
  }
  
  .input {
    border: 1px solid #ffffff;
    width: 90%;
    height: 25px;
    background: none;
    color: #f1f1f1;
  
    margin-top: 15px;
  }
  
  .form textarea {
    border: 1px solid #ffffff;
    color: #000000;
    resize: none;
    width: 90%;
    margin-top: 15px;
    background: none;
  }
  
  .form button {
    width: 90px;
    height: 40px;
    border-radius: 4px;
    background-color: black;
    border: 1px solid #7060c0;
    margin-top: 10px;
    color: #fff6f6;
    cursor: pointer;
  }
  
  .form label {
    color: #ffffff;
    margin-top: 5px;
    font-size: 1em;
  }